@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #1C1B22;
    --image: url("logo-white.png");
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --background-color: #F0F0F4;
    --image: url("logo-black.png");
  }
}


@-moz-document url(about:newtab), url(about:home){
  body {
    background-color: var(--background-color) !important;
  }
}
