:root {
  --dark-purple: #25003E;
  --purple: #2f014d;
  --light-purple: #4a027a;
}

#PlacesToolbarItems {
  display: flex !important;
  justify-content: center !important;
}
#alltabs-button {
	display: none !important;
}
#urlbar-background {
  border: none !important;
  outline: none !important;
}
#tabbrowser-tabbox {
  box-shadow: none !important;
  outline: none !important;
}
#vertical-spacer {
  display: none !important;
}


/* hide private browsing indicator in tabbar */
#private-browsing-indicator-with-label,
.private-browsing-indicator {
    display: none !important;
}

/* Color private browsing window */
#main-window[privatebrowsingmode="temporary"] #TabsToolbar {
  appearance: none !important;
  -moz-appearance: none !important;
}

#main-window[privatebrowsingmode="temporary"] #TabsToolbar,
#main-window[privatebrowsingmode="temporary"] #titlebar,
#main-window[privatebrowsingmode="temporary"] #urlbar,
#main-window[privatebrowsingmode="temporary"] #urlbar-background {
  background: var(--dark-purple) !important;
}

#main-window[privatebrowsingmode="temporary"] #PlacesToolbarItems,
#main-window[privatebrowsingmode="temporary"] toolbar#nav-bar,
#main-window[privatebrowsingmode="temporary"] #sidebar-main {
  background: var(--purple) !important;
}

#main-window[privatebrowsingmode="temporary"] .tab-background[selected] {
  background-color: var(--light-purple) !important;
}
#main-window[privatebrowsingmode="temporary"] #PlacesToolbar menupopup[placespopup="true"],
#main-window[privatebrowsingmode="temporary"] #appMenu-popup,
#main-window[privatebrowsingmode="temporary"] #PanelUI-popup {
  --arrowpanel-background: var(--purple) !important;
}

#main-window[privatebrowsingmode="temporary"] toolbar#nav-bar {
  box-shadow: none !important;
}

#main-window[privatebrowsingmode="temporary"] #urlbar-background {
  border: none !important;
  outline: none !important;
}


/* center url and suggestions */
/*
#urlbar {
  text-align: center !important;
}

.urlbarView-row {
  justify-content: center !important;
}
.urlbarView-row-inner {
  max-width: max-content !important;
}
.urlbarView-no-wrap {
  max-width: 100% !important;
}
*/
