@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #1f1e25;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --background-color: #ececee;
  }
}


@-moz-document url(about:newtab), url(about:home){
  body {
    background-color: var(--background-color) !important;
  }
}
